asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
cssselect==1.2.0
Django==4.1.4
django-bootstrap-icons==0.8.2
django-mathfilters==1.0.0
django-widget-tweaks==1.4.12
idna==3.4
lxml==4.9.2
psycopg2==2.9.5
requests==2.28.2
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.14
