<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo do Bixo</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body class="bg-light">

  {% extends "base.html" %}
  {% load static %}

  {% block content %}

  {% if user.is_authenticated %}
    <div class="d-flex flex-column justify-content-center  align-items-center mt-5 p-5 flex-wrap">
      <div class="card text-center w-75" >
        <div class="card-header">
          Noticias
        </div>
        <div class="card-body">
          <h5 class="card-title">Últimos animais sorteados:</h5>
          <p class="card-text">Vaca, gato, tigre, urso.</p>
          <a href="#" class="btn btn-primary">Ver seu resultado</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>

  {% else %}
    <div class="d-flex flex-column justify-content-center  align-items-center mt-5 p-5 flex-wrap">
    <div class="w-50">
      <div>
        <h1>Jogo do Bixo</h1>
        <h2>Faça suas apostas do bixo no nosso site e ganhe muito!</h2>
        <p>O nosso jogo do bixo é jogado de maneira diferente do tradicional!</p>
        <div class="d-flex justify-content-end align-self-end">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, delectus soluta. Ad modi sunt doloribus odio doloremque illum a unde corrupti quia est! Facere veritatis dolorem iure fugit explicabo dolorum!</p>
          <img src="{% static 'img/razinha.png' %}" alt="" width="150">
        </div>
      </div>
      <div class="card">
        <div class="card-header text-dark">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0 text-dark">
            <p>"Então você é a favor da legalização do jogo do bixo?"<br>&#8212 É ilegal?</p>
            <footer class="blockquote-footer">Pagodinho, Zeca</footer>
          </blockquote>
        </div>
      </div>

      
    </div>
  </div>
  {% endif %}


  <div class="d-flex flex-column align-items-center">
    <h2>Faça suas apostas:</h2>
    <div class="d-flex gap-3 flex-wrap justify-content-center mt-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grupo</h5>
          <p class="card-text">Nessa categoria você aposta em um só animal.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Duque</h5>
          <p class="card-text">Nessa categoria você aposta em dois animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Terno</h5>
          <p class="card-text">Nessa categoria você aposta em três animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Quadra</h5>
          <p class="card-text">Nessa categoria você aposta em quatro animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Quina</h5>
          <p class="card-text">Nessa categoria você aposta em cinco animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
    </div>
    
  </div>


  {% endblock content %}
</body>

</html>