  {% extends "base.html" %}
  {% load static %}

  {% block content %}

  {% if user.is_authenticated %}
    <div class="d-flex flex-column justify-content-center  align-items-center mt-5 p-5 flex-wrap text-dark">
      <div class="card text-center w-75" >
        <div class="card-header">
          Noticias
        </div>
        <div class="card-body">
          <h5 class="card-title">Últimos animais sorteados:</h5>
          <p class="card-text">Vaca, gato, tigre, urso.</p>
          <a href="#" class="btn btn-primary">Ver seu resultado</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>

  {% else %}
    <div class="d-flex flex-column justify-content-center  align-items-center mt-5 p-5 flex-wrap">
    <div class="w-75">
      <div>
        <h1>Jogo do Bixo</h1>
        <h2>Faça suas apostas do bixo no nosso site e ganhe muito!</h2>
        <p>O nosso jogo do bixo é jogado de maneira diferente do tradicional!</p>
        <div class="d-block justify-content-end align-self-end">
          <img align="right" src="{% static 'img/razinha.png' %}" alt="" width="150">

          <p><span style="color: #DE627D;font-weight: bolder;">Como funciona:</span> você pode apostar em até cinco dos 25 animais presentes no jogo do bicho ao invés dos tradicionais 100 números dividos em grupos de animais, fazendo que assim você possua mais chances de ganhar. Todos os dias as 12:00 da manhã será realizado o sorteio do bicho.</p>
          <div style="height: fit-content;"></div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header text-dark">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0 text-dark">
            <p>"Então você é a favor da legalização do jogo do bixo?"<br>&#8212 É ilegal?</p>
            <footer class="blockquote-footer">Pagodinho, Zeca</footer>
          </blockquote>
        </div>
      </div>

      
    </div>
  </div>
  {% endif %}


  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2>Comece a apostar:</h2>
    <div class="d-flex gap-5 flex-wrap justify-content-center mt-3 w-75">
      <div class="card text-dark" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grupo</h5>
          <p class="card-text">Nessa categoria você aposta em um só animal.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card text-dark" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Duque</h5>
          <p class="card-text">Nessa categoria você aposta em dois animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card text-dark" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Terno</h5>
          <p class="card-text">Nessa categoria você aposta em três animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card text-dark" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Quadra</h5>
          <p class="card-text">Nessa categoria você aposta em quatro animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
      <div class="card text-dark" style="width: 18rem;">
        <img src="{% static 'img/razinha.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Quina</h5>
          <p class="card-text">Nessa categoria você aposta em cinco animais.</p>
          <a href="#" class="btn btn-primary">Aposte</a>
        </div>
      </div>
    </div>
    
  </div>


  {% endblock content %}