{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="d-flex flex-column align-items-center mt-5 p-5 flex-wrap">
    <div class="d-block w-75">
        <img align='left' src="{% static 'img/vaquinha2.png' %}" width="300" alt="" class="me-4">

        <h2 style="color: #DE627D;">Atenção!</h2>
        <h4>
            <ul style="color: #DE627D;">
                <li>O sorteio só deve ser realizado 4 vezes por dia!</li>
                <li>Você deve colocar qual sorteio do dia você está fazendo.</li>
                <li>Fique atento em qual sorteio do dia é, para mudar o campo 'Sorteio do dia' de acordo.</li>
                <li>Para sortear o número você deve apertar no botão 'Sortear'.</li>
                <li>O input será preenchido com o número que foi sorteado.</li>
                <li>Agora você deve clicar em 'Registrar sorteio'.</li>
            </ul>
        </h4>


    </div>


    <div class="d-flex gap-3 align-items-center align-self-center flex-wrap justify-content-center">
        <div class="d-flex flex-column gap-3 align-items-center">
            <h1>Fazer sorteio</h1>

            <button type="submit" onclick="sorteio()" onmouseover="this.style.color='#435000'" onmouseout="this.style.color='';" class="form-control btn" style="background-color: #D6FF00;">Sortear</button>


            <form method="POST" class="d-flex flex-column gap-3" style="width: 247.55px;">
                {% csrf_token %}
                <div class="form-floating mb-3 text-dark w-100">
                    {% render_field form.sorteio_do_dia type='number' class="form-control" default=1 %}
                    <label for="floatingInput">Sorteio do dia</label>
                </div>
                <div class="form-floating mb-3 text-dark w-100">
                    {% render_field form.bixo_sorteado type='number' class="form-control" id='sorteio' %}
                    <label for="floatingInput">Bixo sorteado</label>
                </div>

                <button type="submit" onmouseover="this.style.color='#435000'" onmouseout="this.style.color='';" class="form-control btn" style="background-color: #D6FF00;">Registrar sorteio</button>

            </form>
        </div>

        <img src="{% static 'img/cobrinha.png' %}" width="350" alt="">

    </div>
</div>



{% endblock content %}